.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


*{
    margin: 0px;
    padding: 0px;
}
h2{
    font-size: 35px;
}


/* First page */
.intro{
    background-color: #AFE62B;
    min-height: 35vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro-image{
    width: 30%;
    max-width: 250px;
    aspect-ratio: 1 / 1; /* keeps everything in the aspect ration, width/height, so we don't have to write the height, it will scale itself as per 30% width */
    overflow: hidden;
    border-radius: 50%;
}
.intro-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.intro-text{
    text-align: center;
    font-family: "Caveat", cursive;
    font-size: clamp(1.5rem, 5vw, 3rem);
    color: black;
}


/* Qualification */
.qualification{
    background-color: bisque;
    min-height: 35vh;
    padding: 2rem 1rem;
}
.qualification-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.text-style{
    color: black;
    font-family: "Moon Dance", cursive;
    font-size: clamp(1.2rem, 3vw, 2rem);
}


/* Skills */
.skill{
    background-color: bisque;
    padding-left: 70px;
    padding-bottom: 20px;
}
.skill ul{
    text-align: left;
    list-style: none;
}


/* Projects */
.projects{
    background-color: bisque;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Contact me */
.contact-me{
    display: flex;
    height: 200px;
    justify-content: space-around;
    align-items: center;
}
.contact-me a:hover{
    opacity: 0.7;
}

/* for mobile screen */
@media (max-width: 600px){
    .intro{
        flex-direction: column;
        gap: 5px;
    }
    .contact-me svg{
        width: 25;
        height: 25;
    }

}
